.createaccount-section {
    @include basicBoxStructure();
    position: absolute;
    top: 0px;
    right: 0px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    text-align: center;
    margin: 10px auto;
    height: 400px;
    input[type="text"], input[type="password"] {
        @include blueButton();
        font-size: 1.5em;
        padding: 20px;
        width: 60%;
        margin: 10px auto;
        display: block;
    }
    input[type="submit"] {
        @include greenButton();
        font-size: 1.5em;
        padding: 20px;
        width: 60%;
    }
    input[type="button"] {
        position: absolute;
        top: 20px;
        right: 20px;
        @include orangeButton();
        padding: 5px;
    }
    h2 {
        margin-top: 50px;
    }
}