.filter-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 130px;
    left: 100px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(28, 28 ,28);
    border-radius: 25px;
    width: 20%;
    height: 500px;
    padding: 30px;
}