.status-section {
    color: white;
    padding: 20px;
    background-color: rgb(28, 28 ,28);
    width: 80%;
    height: 200px;
    margin: 10px auto;
    border-radius: 25px;
    h2 {
        text-align: center;
    }
}