.questionContainer-section {
    color: white;
    background-color: rgb(28, 28 ,28);
    border-radius: 25px;
    width: 60%;
    box-sizing: border-box;
    position: absolute;
    right: 100px;
    padding: 30px;
    top: 130px;
}