.rank-section {
    @include basicBoxStructure();
    width: 80%;
    margin: 10px auto;
    ul{
        li {
            display: flex;
            justify-content: space-between
        }
    }   
}