.rank-section {
    color: white;
    padding: 20px;
    background-color: rgb(28, 28 ,28);
    width: 80%;
    margin: 10px auto;
    border-radius: 25px;
    ul{
        li {
            display: flex;
            justify-content: space-between
        }
    }   
}